<nav>
  <a routerLink="/">Home</a> |
  <a routerLink="/auth/login">Login</a>
  <!-- <a routerLink="/profile/{{ size }}">Profile Detail</a> -->
</nav>

<router-outlet></router-outlet>

<footer>
  this is footer
</footer>




<!-- <button (click)="show = !show">Toggle Details</button>

<div *ngIf="names[0] === 'Alice'">
  <h2>Details Section True</h2>
  <p>This section is conditionally displayed based on the 'show' property in the component.</p>
</div>

<div *ngIf="names[1] === 'Bob'">
  <h2>Details Section False</h2>
  <p>This section is conditionally displayed based on the 'show' property in the component.</p>
</div>

<ul>
  <li *ngFor="let item of names; let i = index">
    <p>{{ item }}</p>
  </li>
</ul>

<hr>

<p class="bg-blue" [ngClass]="{ 'text-red': size == 12, 'text-green': size == 14 }">
  This text changes color based on the isError property.
</p>

<p [ngStyle]="{ 'font-size': size + 'px'}">
  This text changes size based on the size property.
</p>

<button (click)="size = size +2">+2px</button>

<hr>
<p appHighlight>This is paragraf w/ custom directive</p>

<p>{{ today | date: "fullDate" }}</p>
<p>{{ price | currency: "IDR " }}</p>
<p>{{ text | uppercase }}</p>
<p>{{ text | lowercase }}</p>
<p>{{ user | json }}</p> -->


